@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --verde: hsl(75, 94%, 57%);
  --branco: hsl(0, 0%, 100%);
  --cinza: hsl(0, 0%, 20%);
  --cinza-escuro: hsl(0, 0%, 12%);
  --off: hsl(0, 0%, 8%);
}

body,
html {
  min-height: 100vh;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--off);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.main-content {
  background-color: var(--cinza-escuro);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 35px;
  width: 90%;
  max-width: 500px;
  padding: 20px;
}
.jessicapic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.title,
.subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
}

.title {
  color: var(--branco);
  margin: 15px;
}
.subtitle {
  color: var(--verde);
}

.content-p {
  color: var(--branco);
  margin: 15px;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cards__content {
  background-color: var(--cinza);
  align-items: center;
  text-decoration: none;
  margin: 15px 0;
  color: var(--branco);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 20px 80px 20px 80px;
  border-radius: 10px;
}

@media screen and (max-width: 320px) {
  .title {
    font-size: 1.1rem;
  }

  .cards {
    margin: 2px 0;
  }

  .cards__content {
    margin: 10px 0;
  }
}

@media screen and (max-width: 720px) {
  .title {
    font-size: 1.4rem;
  }

  .cards {
    margin: 5px 0;
  }

  .cards__content {
    margin: 12px 0;
  }
}
